<div class="dashboard-flex">
<!-- flex version of dashboard
     this outer div just for scoping-->

  <div class="dashboard-container">
    <!-- this container is set to display-flex, column to space out the next 4 -->

    <ul class="dashboard-icons row">

      <li class="dashboard-icon">
        <a href="" ui-sref="receive">
          <svg viewBox="0 0 71 68" xmlns="http://www.w3.org/2000/svg">
            <g fill-rule="evenodd" transform="translate(.328)"><path  d="m69.898 46.571c0-7.463-4.03-13.982-10.03-17.508l.182-18.714-13.868-4.477-28.741 13.193-.403 14.1-5.996-1.962v-14.275l28.799-13.1-11.491-3.706-28.29 12.93v35.889l27.481 11.445 5.092-2.474c.247.374.523.731.794 1.093.276.362.564.72.863 1.059 3.723 4.27 9.184 6.974 15.277 6.974 11.203 0 20.329-9.115 20.329-20.323 0-.018-.001-.037-.001-.055 0-.028.001-.055.001-.083m-20.437 18.361c-10.1 0-18.284-8.187-18.284-18.284 0-10.1 8.186-18.284 18.284-18.284 10.1 0 18.284 8.186 18.284 18.284 0 10.1-8.186 18.284-18.284 18.284"/><path  d="m61.38 48.18c0 .893-.724 1.617-1.617 1.617h-7.01v7.01c0 .893-.724 1.617-1.616 1.617h-3.235c-.893 0-1.617-.724-1.617-1.617v-7.01h-7.01c-.893 0-1.617-.724-1.617-1.617v-3.234c0-.892.724-1.617 1.617-1.617h7.01v-7.01c0-.893.724-1.617 1.617-1.617h3.235c.892 0 1.616.724 1.616 1.617v7.01h7.01c.893 0 1.617.724 1.617 1.617v3.234"/></g>
          </svg>
          <br>Receive</a>
      </li>

      <li class="dashboard-icon">
        <a href="" ui-sref="update">
          <svg viewBox="0 0 70 68" xmlns="http://www.w3.org/2000/svg">
            <g fill-rule="evenodd"><path  d="m69.918 46.571c0-7.463-4.03-13.982-10.03-17.508l.182-18.714-13.868-4.476-28.741 13.193-.403 14.1-5.996-1.962v-14.275l28.799-13.1-11.491-3.706-28.29 12.929v35.889l27.481 11.445 5.092-2.474c.247.374.523.731.794 1.093.276.362.564.72.863 1.059 3.723 4.27 9.184 6.974 15.277 6.974 11.203 0 20.329-9.115 20.329-20.323 0-.018-.001-.037-.001-.055 0-.028.001-.055.001-.083m-20.437 18.361c-10.1 0-18.284-8.187-18.284-18.284 0-10.1 8.186-18.284 18.284-18.284 10.1 0 18.284 8.186 18.284 18.284 0 10.1-8.186 18.284-18.284 18.284"/><path  d="m60.58 41.05c.358-.365.615-.845.684-1.306.069-.462-.053-.879-.314-1.152l-2.697-2.644c-.275-.271-.693-.387-1.152-.309-.46.077-.934.342-1.294.721l-2.581 2.618 4.771 4.705 2.584-2.632"/><path  d="m51.722 40.574l-10.11 10.299-.852 5.65 5.623-.946 10.11-10.298-4.772-4.706"/></g>
          </svg>
          <br>Edit</a>
      </li>

      <li class="dashboard-icon">
        <a href="" ui-sref="deliver">
          <svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path  d="m485.46 340.04c0-49.04-26.47-91.88-65.896-115.05l1.198-122.98-91.13-29.417-188.87 86.7-2.646 92.64-39.4-12.894v-93.81l189.25-86.1-75.51-24.351-185.93 84.965v235.84l180.59 75.21 33.464-16.26c1.625 2.458 3.44 4.802 5.218 7.185 1.815 2.382 3.707 4.729 5.672 6.958 24.466 28.06 60.35 45.828 100.39 45.828 73.62 0 133.59-59.896 133.59-133.55 0-.121-.007-.24-.007-.361-.001-.182.005-.362.005-.545m-134.3 120.66c-66.36 0-120.15-53.799-120.15-120.15 0-66.36 53.796-120.15 120.15-120.15 66.36 0 120.15 53.795 120.15 120.15.001 66.36-53.795 120.15-120.15 120.15"/><path  d="m433.24 320.56l2.31-2.342c2.379-2.342 2.439-5.795.198-8.03l-23.885-23.02c-1.223-1.273-2.861-1.627-4.47-1.469-1.231.127-2.536.461-3.464 1.409l-3.034 3.126-73.53 72.51-24.964-24.15c-2.424-2.321-5.598-3.971-8.637-4.396-3.041-.422-5.771.412-7.548 2.151l-17.17 17.929c-1.762 1.83-2.489 4.583-1.943 7.596.545 3.01 2.321 6.112 4.836 8.446l50.13 48.41-.556-.442c1.831 1.764 4.585 2.49 7.595 1.944 3.01-.545 6.113-2.322 8.448-4.836l.007.007 95.68-94.84"/></svg>
          <br>Deliver</a>
      </li>

    </ul>

    <div class="form-group search row">
      <div class="input-group input-group">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input class="form-control" ng-keyup="$event.keyCode == 13 && dashboard.submitSearch(dashboard.searchTerm)" ng-model="dashboard.searchTerm" placeholder="Search" type="text">
      </div>
    </div>

    <ul class="spotlights row">
      <li class="spotlight" ui-sref="tracking({statusIs:'undelivered'})">
        <div class="bignum">179</div>&nbsp;
        <div>Undelivered</div>
      </li>
      <li class="spotlight" ui-sref="tracking({statusIs:'delivered'})">
        <div class="bignum">4</div>&nbsp;
        <div>Delivered today</div>
      </li>
      <li class="spotlight" ui-sref="tracking({statusIs:'received'})">
        <div class="bignum">183</div>&nbsp;
        <div>Received today</div>
      </li>
    </ul>

    <ul class="widgets row">
      <li class="widget">
        <p>Packages delivered
          <br>per employee</p><img  alt="" src="modules/dashboard/assets/img/chart1.png"/></li>
      <li class="widget">
        <p>On-time delivery each month</p><img  alt="" src="modules/dashboard/assets/img/chart2.png"/></li>
      <li class="widget">
        <p>Packages by carrier today
        </p><img  alt="" src="modules/dashboard/assets/img/chart3.png"/></li>
    </ul>

  </div>

</div>
