
@font-face { font-family: 'PrecisionSans_W_Rg'; font-weight: '400'; font-style: 'normal'; src: url('../fonts/PrecisionSans_W_Rg.eot'); src: url('../fonts/PrecisionSans_W_Rg.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_Rg.woff') format('woff'), url('../fonts/PrecisionSans_W_Rg.ttf') format('truetype'), url('../fonts/PrecisionSans_W_Rg.svg#PrecisionSans_W_Rg') format('svg'); }
@font-face { font-family: 'PrecisionSans_W_Bd'; font-weight: '700'; font-style: 'normal'; src: url('../fonts/PrecisionSans_W_Bd.eot'); src: url('../fonts/PrecisionSans_W_Bd.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_Bd.woff') format('woff'), url('../fonts/PrecisionSans_W_Bd.ttf') format('truetype'), url('../fonts/PrecisionSans_W_Bd.svg#PrecisionSans_W_Bd') format('svg'); }
@font-face { font-family: 'PrecisionSans_W_RgIt'; font-weight: '400'; font-style: 'italic'; src: url('../fonts/PrecisionSans_W_RgIt.eot'); src: url('../fonts/PrecisionSans_W_RgIt.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_RgIt.woff') format('woff'), url('../fonts/PrecisionSans_W_RgIt.ttf') format('truetype'), url('../fonts/PrecisionSans_W_RgIt.svg#PrecisionSans_W_RgIt') format('svg'); }
@font-face { font-family: 'PrecisionSans_W_BdIt'; font-weight: '700'; font-style: 'italic'; src: url('../fonts/PrecisionSans_W_BdIt.eot'); src: url('../fonts/PrecisionSans_W_BdIt.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_BdIt.woff') format('woff'), url('../fonts/PrecisionSans_W_BdIt.ttf') format('truetype'), url('../fonts/PrecisionSans_W_BdIt.svg#PrecisionSans_W_BdIt') format('svg'); }
@font-face { font-family: 'PrecisionSans_W_Lt'; font-weight: '300'; font-style: 'normal'; src: url('../fonts/PrecisionSans_W_Lt.eot'); src: url('../fonts/PrecisionSans_W_Lt.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_Lt.woff') format('woff'), url('../fonts/PrecisionSans_W_Lt.ttf') format('truetype'), url('../fonts/PrecisionSans_W_Lt.svg#PrecisionSans_W_Lt') format('svg'); }
@font-face { font-family: 'PrecisionSans_W_LtIt'; font-weight: '300'; font-style: 'italic'; src: url('../fonts/PrecisionSans_W_LtIt.eot'); src: url('../fonts/PrecisionSans_W_LtIt.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_LtIt.woff') format('woff'), url('../fonts/PrecisionSans_W_LtIt.ttf') format('truetype'), url('../fonts/PrecisionSans_W_LtIt.svg#PrecisionSans_W_LtIt') format('svg'); }
@font-face { font-family: 'PrecisionSans_W_Md'; font-weight: '500'; font-style: 'normal'; src: url('../fonts/PrecisionSans_W_Md.eot'); src: url('../fonts/PrecisionSans_W_Md.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_Md.woff') format('woff'), url('../fonts/PrecisionSans_W_Md.ttf') format('truetype'), url('../fonts/PrecisionSans_W_Md.svg#PrecisionSans_W_Md') format('svg'); }
@font-face { font-family: 'PrecisionSans_W_MdIt'; font-weight: '500'; font-style: 'italic'; src: url('../fonts/PrecisionSans_W_MdIt.eot'); src: url('../fonts/PrecisionSans_W_MdIt.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_MdIt.woff') format('woff'), url('../fonts/PrecisionSans_W_MdIt.ttf') format('truetype'), url('../fonts/PrecisionSans_W_MdIt.svg#PrecisionSans_W_MdIt') format('svg'); }
@font-face { font-family: 'pbfont'; font-weight: normal; font-style: normal; src: url('../fonts/pbfont.eot'); src: url('../fonts/pbfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pbfont.woff') format('woff'), url('../fonts/pbfont.ttf') format('truetype'), url('../fonts/pbfont.svg#pbfont') format('svg'); }

//-- Bootstrap Iconography
//** Load fonts from this directory.
$icon-font-path:          '../fonts/';
//** File name for all font files.
$icon-font-name:          'glyphicons-halflings-regular';
//** Element ID within SVG icon file.
$icon-font-svg-id:        'glyphicons_halflingsregular';

$font-family-sans-serif:        'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:             Georgia, Times, 'Times New Roman', serif;
$font-family-base:              $font-family-sans-serif;
$font-family-monospace:         'Source Code Pro', Menlo, Consolas, Monaco, 'Courier New', monospace;

$font-family-ps-light:          'PrecisionSans_W_Lt', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-light-italic:   'PrecisionSans_W_LtIt', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-regular:        'PrecisionSans_W_Rg', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-regular-italic: 'PrecisionSans_W_RgIt', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-medium:         'PrecisionSans_W_Md', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-medium-italic:  'PrecisionSans_W_MdIt', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-bold:           'PrecisionSans_W_Bd', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-bold-italic:    'PrecisionSans_W_BdIt', 'Helvetica Neue', Arial, sans-serif;

$headings-font-weight: normal;
$headings-line-height: 1.1;
$headings-color:       inherit;
$btn-font-weight:      normal;


//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.

// easily change something to serif or sans-serif
.serif, .serif p {
  font-family: $font-family-serif;
}

.sans, .sans p {
  font-family: $font-family-sans-serif;
}

code,
.code {
  font-family: $font-family-monospace;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid $pb-gray-200;
}

a {
  color: $link-color;
  cursor: pointer;
  &:hover {
    color: $link-hover;
  }

  &.read-more {
    font-size: $font-size-base - 2;
    // 2 px smaller
    white-space: nowrap;

    &:after {
      content: '\2026';
      // ellipsis

    }
  }
}

// heading sizes, from variables.scss
h1, .h1 {
  font-size: 36px;
  font-weight: normal;
  font-family: 'PrecisionSans_W_Lt', Arial, sans-serif;
  color: $pb-magenta;

}

h2 {
  font-size: 20px;
  font-family: $font-family-ps-regular;
  font-weight: normal;
  color: $pb-blue;
}

h3 {
  font-size: 16px;
  font-family: $font-family-ps-regular;
  font-weight: normal;
  color: $pb-blue;
}

h4 {
  font-size: 16px;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  color: $text-color;

}

h5 {
  font-size: 14px;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  color: $text-color;
}

h6 {
  font-size: 12px;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  color: $text-color;
}


//-------------------------------


//== Typography
//== see also typography.scss
// need to leave these here for following sizing
$font-size-base  : 14px;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * .85)) !default; // ~12px
$font-size-xsmall:        ceil(($font-size-base * .72)) !default; // ~10px

//----------------------------


// when you need light text
// sets the bold and italic accordingly
// so that B and I tags look correct on light
.ps-light {
  font-family: $font-family-ps-light;
  font-weight: normal;
  font-style: normal;

  &.italic,
  em,
  i {
    font-family: $font-family-ps-light-italic;
  }

  // since regular bold is a bit much on light
  b,
  strong {
    font-family: $font-family-ps-medium;
  }
}

p.lead,
p.lede {
  font-family: $font-family-ps-regular;
  font-size: 16px;
}

.media-heading {
  font-family: $font-family-ps-bold;
  font-weight: normal;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  // originally they had !important 'for ie8' but I removed
  font-weight: 400;
  color: $text-color;
}


//TODO:  add to design system
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label,  .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
  color: $text-color;
}
.has-error .help-block {
  color: $brand-danger;
}
.has-error .help-block-top {
  color: $text-color;
  a {
    color: $link-color;
  }
}




dt {
  margin-top: 10px;
  margin-bottom: 3px;

  &:first-child {
    margin-top: 0;
  }
}

// condensed definition list */
.dlist-condensed {
  dt {
    margin-bottom: 0;
  }

  dd {
    line-height: 1.2;
  }
}

ul.spaced,
ol.spaced {
  > li {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 1.5em;
}

.btn:focus {
  outline: none !important;
}

.btn {
  font-family: $font-family-sans-serif;
}

// Font Awesome additional pb classes

.fa-active {
  color: $pb-magenta;
}
.fa-lg {
  font-size: 1.5em;
}

.fa-transition {
  transition: all .2s ease;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  font-family: $font-family-ps-regular;
}

.help-block {
  color: $pb-gray-300;
}


.panel-heading {
  font-family: $font-family-ps-regular;

  // tables inside panel heads, edge case
  td,
  th {
    font-family: $font-family-base;
  }
}

// boostrap makes changing the weight of the logo quite difficult
#header .navbar .navbar-brand.brand-text,
#header .navbar .container .navbar-brand.brand-text,
header .navbar .navbar-brand.brand-text,
header .navbar .container .navbar-brand.brand-text {
  font-family: $font-family-ps-regular;
  font-weight: normal;
}

.nav.navbar-nav {
  font-family: $font-family-ps-regular;
  font-weight: normal;
  font-size: 16px;
}

// some items need to be set back to default body font:
.checkboxList span,
a.list-group-item {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

// ------SPECIAL SIZES--------

// Ex: 14px base font * 85% = about 12px
small, .small {
  font-size: 85%;
}

// Undo browser default styling
cite {
  font-style: normal;
}

.text-large {
  font-size: $font-size-large;
}

.text-small {
  font-size: $font-size-small;
}

.text-xs {
  font-size: $font-size-xsmall;
}

.text-mouse {
  font-size: $font-size-xsmall;
}

// Alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}


sup {
  font-size: 65%;
}

// changes orientation on phones
@include bp(screen-xs) {
  .text-left-xs {
    text-align: left;
  }
  .text-right-xs {
    text-align: right;
  }
  .text-center-xs {
    text-align: center;
  }
}


// // Contextual colors, from bootstrap
.text-primary { color: $brand-primary; }
.text-muted   { color: $text-muted; }
.text-success { color: $state-success-text; }
.text-info    { color: $state-info-text; }
.text-warning { color: $state-warning-text; }
.text-danger  { color: $brand-danger; }
