<h1>Mark packages as delivered</h1>

<p>Keep track of when packages are<br>
delivered and who gets them.</p>

<img src="modules/firstuse/assets/img/tour_deliver.png" alt="" />

<div class="button-bar">
  <button class="btn btn-link" ui-sref="firstuse.conclusion">Skip tour</button>
  <button class="btn btn-default" ui-sref="firstuse.slide2">Previous</button>
  <button class="btn btn-primary" ui-sref="firstuse.slide3">Next</button>
</div>
