<!DOCTYPE html>
<html lang="en" ng-app="app" ng-cloak>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{productName}}</title>
  <!-- build:css assets/css/app.css -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet">
  <link href="bower_components/animate.css/animate.css" rel="stylesheet">
  <link href="bower_components/angular-toggle-switch/angular-toggle-switch.css" rel="stylesheet">
  <link href="bower_components/angular-toggle-switch/angular-toggle-switch-bootstrap.css" rel="stylesheet">
  <link href="bower_components/angular-toastr/dist/angular-toastr.css" rel="stylesheet">
  <link href="bower_components/selectize-ng/dist/standalone/selectize.css" rel="stylesheet">
  <link href="bower_components/selectize/dist/css/selectize.bootstrap3.css" rel="stylesheet">
  <link href="bower_components/yamm3/yamm/yamm.css" rel="stylesheet">
  <link href="assets/css/design_system.css" rel="stylesheet">
  <link href="assets/css/app.css" rel="stylesheet">
  <!-- endbuild  -->
  <link rel="icon" type="image/png" href="assets/img/favicon/favicon_16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/img/favicon/favicon_32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/img/favicon/favicon_57.png" sizes="57x57">
  <link rel="icon" type="image/png" href="assets/img/favicon/favicon_72.png" sizes="72x72">
  <link rel="icon" type="image/png" href="assets/img/favicon/favicon_96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="assets/img/favicon/favicon_120.png" sizes="120x120">
  <link rel="icon" type="image/png" href="assets/img/favicon/favicon_128.png" sizes="128x128">
  <link rel="icon" type="image/png" href="assets/img/favicon/favicon_144.png" sizes="144x144">
  <link rel="icon" type="image/png" href="assets/img/favicon/favicon_152.png" sizes="152x152">
  <link rel="icon" type="image/png" href="assets/img/favicon/favicon_195.png" sizes="195x195">
  <link rel="icon" type="image/png" href="assets/img/favicon/favicon_228.png" sizes="228x228">
</head>

<body ng-controller="AppCtrl as app" class="{{$state.current.data.bodyClass}}">

  <div class="main-flex">
    <!-- header -->
    <div header></div>
    <!-- content -->
    <div id="main" ui-view=""></div>
    <!-- FOOTER -->
    <div footer></div>
  </div>

  
  <div pb-feedback></div>
  <!-- build:vendorjs js/vendor.js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-base64/angular-base64.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.js"></script>
  <script src="bower_components/angular-toggle-switch/angular-toggle-switch.min.js"></script>
  <script src="bower_components/angular-toastr/dist/angular-toastr.js"></script>
  <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
  <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
  <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
  <script src="bower_components/ng-messages/angular-messages.min.js"></script>
  <script src="bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
  <script src="bower_components/selectize-ng/dist/standalone/selectize-ng.min.js"></script>
  <script src="bower_components/ui-utils/ui-utils.min.js"></script>
  <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
  <!-- endbuild  -->
  <!-- build:appjs js/app.js -->
  <script src="modules/main/app.js"></script>
  <script src="modules/main/app.config.js"></script>
  <script src="modules/main/app.router.js"></script>
  <script src="modules/main/controllers/app.controller.js"></script>
  <!--  <script src="modules/main/services/utility.svc.js"></script>
    <script src="modules/main/services/addContactPopup.fac.js"></script>
    <script src="modules/main/services/contact.fac.js"></script>-->
  <script src="modules/main/services/contact.mdl.js"></script>
  <script src="modules/main/directives/header.js"></script>
  <script src="modules/main/directives/footer.js"></script>
  <script src="modules/main/directives/pb-fixed-navbar.js"></script>
  <script src="core/directives/feedback.directive.js"></script>
  <script src="core/services/auth.js"></script>
  <script src="core/services/mock-data.factory.js"></script>
  <script src="core/services/usstates.factory.js"></script>
  <script src="core/services/message.factory.js"></script>
  <script src="core/services/users.factory.js"></script>
  <script src="core/services/roles.factory.js"></script>
  <script src="core/directives/disabled.directive.js"></script>
  <script src="core/directives/pb-panel-collapsible.js"></script>
  <script src="core/directives/pb-panel-draggable.js"></script>
  <script src="core/directives/pb-tour.directive.js"></script>
  <script src="core/filters/slug.filter.js"></script>
  <script src="core/services/tasks.service.js"></script>
  <script src="modules/login/login.js"></script>
  <script src="modules/login/login.router.js"></script>
  <script src="modules/login/controllers/login.controller.js"></script>
  <script src="modules/login/controllers/forgotpassword.controller.js"></script>
  <script src="modules/login/controllers/forgotusername.controller.js"></script>
  <script src="modules/login/controllers/welcome.controller.js"></script>
  <script src="modules/firstuse/firstuse.js"></script>
  <script src="modules/firstuse/firstuse.router.js"></script>
  <script src="modules/firstuse/controllers/firstuse.controller.js"></script>
  <script src="modules/dashboard/dashboard.module.js"></script>
  <script src="modules/dashboard/dashboard.router.js"></script>
  <script src="modules/dashboard/controllers/dashboard.controller.js"></script>
  <script src="modules/dashboard/controllers/carousel.controller.js"></script>
  <script src="modules/dashboard/controllers/package-tracking.controller.js"></script>
  <script src="modules/dashboard/controllers/package-deliver.controller.js"></script>
  <script src="modules/dashboard/controllers/package-edit.controller.js"></script>
  <script src="modules/dashboard/controllers/package-receive.controller.js"></script>
  <script src="modules/dashboard/controllers/package-update.controller.js"></script>
  <script src="modules/dashboard/controllers/modal.dare.controller.js"></script>
  <script src="modules/dashboard/controllers/modal.clearall.controller.js"></script>
  <script src="modules/dashboard/controllers/modal.addUser.controller.js"></script>
  <script src="modules/dashboard/controllers/modal.exists.controller.js"></script>
  <script src="modules/uam/uam.module.js"></script>
  <script src="modules/uam/uam.router.js"></script>
  <script src="modules/uam/controllers/uam.controller.js"></script>
  <script src="modules/uam/controllers/uam.role.controller.js"></script>
  <script src="modules/uam/controllers/uam.modal-user-edit.controller.js"></script>
  <script src="modules/uam/controllers/uam.modal-buyseats.controller.js"></script>
  <script src="modules/uam/controllers/uam.modal-user-delete.controller.js"></script>
  <script src="modules/uam/controllers/uam.modal-group-add.controller.js"></script>
  <script src="modules/uam/controllers/uam.modal-group-edit.controller.js"></script>
  <script src="modules/uam/controllers/uam.modal-user-invite.controller.js"></script>
  <script src="modules/settings/settings.js"></script>
  <script src="modules/settings/settings.router.js"></script>
  <script src="modules/settings/controllers/settings.js"></script>
  <script src="modules/settings/services/settings.language.js"></script>
  <!-- endbuild  -->
</body>

</html>
