.dashboard-flex {

  .row {
    margin-top: 50px;
  }

  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .dashboard-icons {
    list-style: none;
    display: flex;
    align-items: center;
    .dashboard-icon {
      margin-right: 60px;
      text-align: center;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      svg {
        width: 70px;
        fill: $pb-blue;
        // &:hover {
        //   fill: darken($pb-medium-blue, 5%);
        // }
      }
      img {
        display: block;
        width: auto;
        margin: auto;
      }
      a {
        font-size: 18px;
        font-family: 'PrecisionSans_W_Md', Arial, sans-serif;
        color: $pb-blue;
        // &:hover {
        //   color: darken($pb-medium-blue, 5%);
        //   text-decoration: none;
        // }
      }
    }
  }

  .search {
    width: 30%;
  }

  .spotlights {
    list-style: none;
    .spotlight {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: $pb-blue;
      color: #fff;
      float: left;
      margin-right: 20px;
      border-radius: 6px;
      padding: 10px 20px;
      font-family: 'PrecisionSans_W_Rg', Arial, sans-serif;
      font-size: 20px;
      &:last-child {
        margin-right: 0;
      }
      .bignum {
        font-size: 32px;

      }
    }
  }

  .widgets {
    display: flex;
    list-style: none;
    .widget {
      margin-right: 60px;
      text-align: center;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &:last-child {
        margin-right: 0;
      }
    }

  }

  // make the search field more prominent
  .input-group {
    input, .input-group-addon {
      border-color: $pb-gray-300;
    }
    .input-group-addon {
      background-color: $pb-gray-50;
    }
  }




}
