

// kept this version in case people panic over the actual one using Flexbox.



.dashboard {

  .panel {
    margin-bottom: 30px;
  }

  .panel-bluebox {
    background-color: $pb-medium-blue;
    color: #fff;
    border-radius: 0;
    // &:hover {
    //   background-color: lighten($pb-medium-blue, 5%);
    // }
    .panel-heading {
      padding: 5px 5px 0 15px;
      font-size: 12px;
      .collapse-btn {
        color: rgba(255, 255, 255, .5);
      }
      &:hover {
        background-color: darken($pb-medium-blue, 5%);
      }
    }
    .panel-body {
      font-size: 16px;
      span {
        font-size: 24px;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }


  .panel-plain {
    background-color: #fff;
    color: #454545;
    border-radius: 0;
    border-color: $pb-gray-50;
    .panel-heading {
      font-size: 12px;
      padding: 5px 5px 0 15px;
      .collapse-btn {
        color: $pb-gray-200;
      }
      &:hover {
        background-color: darken(#fff, 5%);
      }
    }
    .panel-body {
      font-size: 14px;
    }
  }

  .dashboard-icon {
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
    svg {
      width: 80px;
      fill: $pb-medium-blue;
      &:hover {
        fill: darken($pb-medium-blue, 5%);
      }
    }
    img {
      display: block;
      width: auto;
      margin: auto;
    }
    a {
      font-size: 18px;
      font-family: 'PrecisionSans_W_Md', Arial, sans-serif;
      &:hover {
        color: darken($pb-medium-blue, 5%);
        text-decoration: none;
      }
    }
  }

}
