@font-face {
  font-family: 'PrecisionSans_W_Rg';
  font-weight: '400';
  font-style: 'normal';
  src: url("../fonts/PrecisionSans_W_Rg.eot");
  src: url("../fonts/PrecisionSans_W_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_Rg.woff") format("woff"), url("../fonts/PrecisionSans_W_Rg.ttf") format("truetype"), url("../fonts/PrecisionSans_W_Rg.svg#PrecisionSans_W_Rg") format("svg"); }
@font-face {
  font-family: 'PrecisionSans_W_Bd';
  font-weight: '700';
  font-style: 'normal';
  src: url("../fonts/PrecisionSans_W_Bd.eot");
  src: url("../fonts/PrecisionSans_W_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_Bd.woff") format("woff"), url("../fonts/PrecisionSans_W_Bd.ttf") format("truetype"), url("../fonts/PrecisionSans_W_Bd.svg#PrecisionSans_W_Bd") format("svg"); }
@font-face {
  font-family: 'PrecisionSans_W_RgIt';
  font-weight: '400';
  font-style: 'italic';
  src: url("../fonts/PrecisionSans_W_RgIt.eot");
  src: url("../fonts/PrecisionSans_W_RgIt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_RgIt.woff") format("woff"), url("../fonts/PrecisionSans_W_RgIt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_RgIt.svg#PrecisionSans_W_RgIt") format("svg"); }
@font-face {
  font-family: 'PrecisionSans_W_BdIt';
  font-weight: '700';
  font-style: 'italic';
  src: url("../fonts/PrecisionSans_W_BdIt.eot");
  src: url("../fonts/PrecisionSans_W_BdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_BdIt.woff") format("woff"), url("../fonts/PrecisionSans_W_BdIt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_BdIt.svg#PrecisionSans_W_BdIt") format("svg"); }
@font-face {
  font-family: 'PrecisionSans_W_Lt';
  font-weight: '300';
  font-style: 'normal';
  src: url("../fonts/PrecisionSans_W_Lt.eot");
  src: url("../fonts/PrecisionSans_W_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_Lt.woff") format("woff"), url("../fonts/PrecisionSans_W_Lt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_Lt.svg#PrecisionSans_W_Lt") format("svg"); }
@font-face {
  font-family: 'PrecisionSans_W_LtIt';
  font-weight: '300';
  font-style: 'italic';
  src: url("../fonts/PrecisionSans_W_LtIt.eot");
  src: url("../fonts/PrecisionSans_W_LtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_LtIt.woff") format("woff"), url("../fonts/PrecisionSans_W_LtIt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_LtIt.svg#PrecisionSans_W_LtIt") format("svg"); }
@font-face {
  font-family: 'PrecisionSans_W_Md';
  font-weight: '500';
  font-style: 'normal';
  src: url("../fonts/PrecisionSans_W_Md.eot");
  src: url("../fonts/PrecisionSans_W_Md.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_Md.woff") format("woff"), url("../fonts/PrecisionSans_W_Md.ttf") format("truetype"), url("../fonts/PrecisionSans_W_Md.svg#PrecisionSans_W_Md") format("svg"); }
@font-face {
  font-family: 'PrecisionSans_W_MdIt';
  font-weight: '500';
  font-style: 'italic';
  src: url("../fonts/PrecisionSans_W_MdIt.eot");
  src: url("../fonts/PrecisionSans_W_MdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_MdIt.woff") format("woff"), url("../fonts/PrecisionSans_W_MdIt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_MdIt.svg#PrecisionSans_W_MdIt") format("svg"); }
@font-face {
  font-family: 'pbfont';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/pbfont.eot");
  src: url("../fonts/pbfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pbfont.woff") format("woff"), url("../fonts/pbfont.ttf") format("truetype"), url("../fonts/pbfont.svg#pbfont") format("svg"); }
.serif, .serif p {
  font-family: Georgia, Times, "Times New Roman", serif; }

.sans, .sans p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

code,
.code {
  font-family: "Source Code Pro", Menlo, Consolas, Monaco, "Courier New", monospace; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #c0c0c0; }

a {
  color: #3e53a4;
  cursor: pointer; }
  a:hover {
    color: #324184; }
  a.read-more {
    font-size: 12px;
    white-space: nowrap; }
    a.read-more:after {
      content: '\2026'; }

h1, .h1 {
  font-size: 36px;
  font-weight: normal;
  font-family: 'PrecisionSans_W_Lt', Arial, sans-serif;
  color: #cf0989; }

h2 {
  font-size: 20px;
  font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #3e53a4; }

h3 {
  font-size: 16px;
  font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #3e53a4; }

h4 {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #4e4e4e; }

h5 {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #4e4e4e; }

h6 {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #4e4e4e; }

.ps-light {
  font-family: "PrecisionSans_W_Lt", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }
  .ps-light.italic,
  .ps-light em,
  .ps-light i {
    font-family: "PrecisionSans_W_LtIt", "Helvetica Neue", Arial, sans-serif; }
  .ps-light b,
  .ps-light strong {
    font-family: "PrecisionSans_W_Md", "Helvetica Neue", Arial, sans-serif; }

p.lead,
p.lede {
  font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px; }

.media-heading {
  font-family: "PrecisionSans_W_Bd", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4e4e4e; }

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
  color: #4e4e4e; }

.has-error .help-block {
  color: #c00; }

.has-error .help-block-top {
  color: #4e4e4e; }
  .has-error .help-block-top a {
    color: #3e53a4; }

dt {
  margin-top: 10px;
  margin-bottom: 3px; }
  dt:first-child {
    margin-top: 0; }

.dlist-condensed dt {
  margin-bottom: 0; }
.dlist-condensed dd {
  line-height: 1.2; }

ul.spaced > li,
ol.spaced > li {
  margin-top: 10px; }
  ul.spaced > li:first-child,
  ol.spaced > li:first-child {
    margin-top: 0; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 1.5em; }

.btn:focus {
  outline: none !important; }

.btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.fa-active {
  color: #cf0989; }

.fa-lg {
  font-size: 1.5em; }

.fa-transition {
  transition: all .2s ease; }

.nav-tabs > li > a,
.nav-pills > li > a {
  font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif; }

.help-block {
  color: #9b9b9b; }

.panel-heading {
  font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif; }
  .panel-heading td,
  .panel-heading th {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

#header .navbar .navbar-brand.brand-text,
#header .navbar .container .navbar-brand.brand-text,
header .navbar .navbar-brand.brand-text,
header .navbar .container .navbar-brand.brand-text {
  font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal; }

.nav.navbar-nav {
  font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px; }

.checkboxList span,
a.list-group-item {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

small, .small {
  font-size: 85%; }

cite {
  font-style: normal; }

.text-large {
  font-size: 16px; }

.text-small {
  font-size: 12px; }

.text-xs {
  font-size: 11px; }

.text-mouse {
  font-size: 11px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

sup {
  font-size: 65%; }

.text-primary {
  color: #3e53a4; }

.text-muted {
  color: #9b9b9b; }

.text-success {
  color: #3c763d; }

.text-info {
  color: #31708f; }

.text-warning {
  color: #8a6d3b; }

.text-danger {
  color: #c00; }

* [ng-click] {
  cursor: pointer; }

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none; }

.main-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95vh; }

header, #header {
  -ms-flex-preferred-size: 50px;
          -webkit-flex-basis: 50px;
          flex-basis: 50px; }

footer,
#footer {
  padding-top: 10px;
  padding-bottom: 20px;
  -ms-flex-preferred-size: 55px;
          -webkit-flex-basis: 55px;
          flex-basis: 55px; }

#main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.fa-1_5x {
  font-size: 1.5em; }

hr.light {
  background-color: #c0c0c0; }

.row-details th,
.row-details td,
.row-details h6 {
  font-size: 12px; }
.row-details th,
.row-details td {
  padding: 0; }

#main .container-fluid,
#main .container {
  min-height: 500px; }

.maintitle {
  margin-top: 50px; }

.debug {
  border: 1px solid #f00; }

.table-hover-plus > tbody > tr:hover {
  transition: all linear 0.1s;
  -webkit-transform: scale(1.02) translateY(-2px);
          transform: scale(1.02) translateY(-2px); }

.yamm .yamm-content {
  padding: 5px 20px; }
  .yamm .yamm-content h4 {
    font-size: 14px;
    white-space: nowrap; }
  .yamm .yamm-content ul {
    list-style: none;
    padding-left: 0; }
    .yamm .yamm-content ul li {
      font-size: 14px;
      margin-bottom: 8px; }
      .yamm .yamm-content ul li a {
        color: inherit;
        font-family: Arial, sans-serif; }

#header .navbar.navbar-default .dropdown-menu > li > span,
header .navbar.navbar-default .dropdown-menu > li > span {
  padding: 6px 20px; }
#header .navbar.navbar-default .dropdown-menu > li .tiny,
header .navbar.navbar-default .dropdown-menu > li .tiny {
  font-size: 12px;
  display: inline-block;
  margin-left: 20px; }

#header .navbar.navbar-default .open a,
#header .navbar.navbar-default .open a:hover,
header .navbar.navbar-default .open a,
header .navbar.navbar-default .open a:hover {
  color: inherit; }
  #header .navbar.navbar-default .open a:hover,
  #header .navbar.navbar-default .open a:hover:hover,
  header .navbar.navbar-default .open a:hover,
  header .navbar.navbar-default .open a:hover:hover {
    text-decoration: none; }

.select-wrapper {
  position: relative; }
  .select-wrapper:before {
    content: '\f107';
    font-family: 'Fontawesome';
    position: absolute;
    right: 5%;
    top: 15%; }
  .select-wrapper select {
    -webkit-appearance: none;
    line-height: inherit;
    z-index: 1;
    border: 0;
    display: inline; }
    .select-wrapper select option {
      text-align: right; }
    .select-wrapper select:focus {
      border: 0;
      box-shadow: none; }

select {
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAWCAYAAADJqhx8AAAAAXNSR0IArs4c6QAAAORJREFUOBFjYBgFwyAEGJubm90YGRnZifDLpZqamofo6liYmJgcgAZUokug8T/++vVLDU0MzGV6//596////59ik4SJ/fv3rwEIXsH4yDRTT0/PV6ABpciCyGyg3LU/f/5MQRZDZjPCOK2trYeAXrGF8WE00ACX6urqvTA+Os0EE/j7928ukP0XxgfRQM1r8WkGqYEbUFdXdxGoYSZIEAq+A/nFMA4uGm4ASMHv379rgdRbqOIObNEGlYNTKAYAQ/odMMRrgLIPgNHWBVeFh8GCLgcM8VksLCzngIb9QJcb5dMoBABjyVkxAsbTcgAAAABJRU5ErkJggg==") right center no-repeat !important; }
  select[multiple], select[size] {
    background-image: none !important; }

.btn-group .dropdown-toggle {
  background: transparent; }
.btn-group.open .dropdown-toggle {
  background: none;
  box-shadow: none; }

.selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #333 transparent transparent; }

.selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px;
  border-color: transparent transparent #333; }

.fa-1-5x {
  font-size: 1.5em; }

.help-block-top label {
  float: left;
  margin-bottom: 0; }
.help-block-top a {
  float: right;
  margin-top: 0;
  margin-bottom: 5px;
  color: #3e53a4;
  text-decoration: underline; }

.header-clear-link {
  margin-top: 5px;
  margin-left: 30px; }

.input-group-separate.input-group .form-control:first-child,
.input-group-separate .input-group-addon:first-child,
.input-group-separate .input-group-btn:first-child > .btn,
.input-group-separate .input-group-btn:first-child > .btn-group > .btn,
.input-group-separate .input-group-btn:first-child > .dropdown-toggle,
.input-group-separate .input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
.input-group-separate .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
.input-group-separate .input-group-btn:last-child > .btn,
.input-group-separate .input-group-btn:last-child > .btn-group {
  margin-left: 0;
  border: 0; }
.input-group-separate .input-group .form-control:last-child,
.input-group-separate .input-group-addon:last-child,
.input-group-separate .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.input-group-separate .input-group-btn:first-child > .btn:not(:first-child),
.input-group-separate .input-group-btn:last-child > .btn,
.input-group-separate .input-group-btn:last-child > .btn-group > .btn,
.input-group-separate .input-group-btn:last-child > .dropdown-toggle {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

div.checkbox {
  margin-top: 0; }

p {
  line-height: 1.4; }

.feedback-modal .modal-dialog {
  bottom: 0;
  position: absolute;
  right: 5px; }

.hidden-radio {
  position: absolute;
  left: -9999px; }

input[type=radio]:checked + label > img {
  border: 1px solid #0f0; }

input[type=radio] + label > img {
  border: 1px solid #fff; }

.border-below {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 5px;
  margin-bottom: 20px; }

.progress {
  background-color: #eee; }

.table-condensed-ultra > thead > tr > th,
.table-condensed-ultra > thead > tr > td,
.table-condensed-ultra > tbody > tr > th,
.table-condensed-ultra > tbody > tr > td,
.table-condensed-ultra > tfoot > tr > th,
.table-condensed-ultra > tfoot > tr > td {
  font-size: 14px;
  padding: 5px; }

input[type="number"] {
  text-align: right; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: none;
  cursor: pointer;
  border-style: solid;
  border-width: thin; }

.shaded {
  background-color: #f0f0f0; }

.no-border-top {
  border-top: none !important; }

.repeated-row {
  margin-bottom: 15px; }

.table-repeater {
  border-collapse: separate;
  border-spacing: 0 15px; }
  .table-repeater td {
    padding-right: 20px; }

.ats-switch {
  z-index: 0; }

.form-horizontal .control-label {
  text-align: left; }

.vcenter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .vcenter.buttonbar div,
  .vcenter.buttonbar button {
    margin-right: 15px; }
  .vcenter.buttonbar:last-of-type {
    margin-right: 0; }

.fadein {
  transition: all linear .3s;
  opacity: 1; }
  .fadein.ng-hide {
    opacity: 0; }

.animate-switch-container {
  position: relative;
  background: #fff; }

.animate-switch.ng-animate {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  position: absolute;
  top: 0;
  left: 0; }

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  opacity: 0; }

.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  opacity: 1; }

div[ui-view].ng-enter {
  -webkit-animation: fadeIn .5s;
          animation: fadeIn .5s; }

.pb-delay-enter, .pb-delay-leave {
  transition-duration: 0s; }

.pb-delay-enter {
  transition-delay: 70ms; }

.pb-delay-leave {
  transition-delay: 15ms; }

.pb-animate-fade {
  transition: opacity 200ms linear; }
  .pb-animate-fade.ng-hide {
    opacity: 0;
    transition: opacity 120ms linear; }
  .pb-animate-fade.ng-show {
    opacity: 1; }

.pb-animate-fadeUp {
  transition: opacity 200ms linear, -webkit-transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 200ms linear, transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-backface-visibility: visible;
          backface-visibility: visible; }
  .pb-animate-fadeUp.ng-hide {
    transition: opacity 80ms linear;
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  .pb-animate-fadeUp.ng-show {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }

.pb-animate-fadeScale {
  transition: opacity 200ms linear, -webkit-transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 200ms linear, transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-backface-visibility: visible;
          backface-visibility: visible; }
  .pb-animate-fadeScale.ng-hide {
    transition: opacity 80ms linear;
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  .pb-animate-fadeScale.ng-show {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }

.pb-animate-fadeLeft {
  transition: opacity 200ms linear, -webkit-transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 200ms linear, transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-backface-visibility: visible;
          backface-visibility: visible; }
  .pb-animate-fadeLeft.ng-hide {
    transition: opacity 80ms linear;
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  .pb-animate-fadeLeft.ng-show {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

.pb-animate-fadeRight {
  transition: opacity 200ms linear, -webkit-transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 200ms linear, transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-backface-visibility: visible;
          backface-visibility: visible; }
  .pb-animate-fadeRight.ng-hide {
    transition: opacity 80ms linear;
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  .pb-animate-fadeRight.ng-show {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

.repeated-item.ng-enter, .repeated-item.ng-move {
  transition: 0.5s linear all;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0; }

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1); }

.repeated-item.ng-leave {
  -webkit-animation: 0.5s my_animation;
          animation: 0.5s my_animation; }

@-webkit-keyframes my_animation {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes my_animation {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.bigNumber {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #454545;
    background-color: #f0f0f0; }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: #00b140;
    background-color: #b1ffcd; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #454545;
    background-color: #f0f0f0; } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #454545;
    background-color: #f0f0f0; }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: #00b140;
    background-color: #b1ffcd; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #454545;
    background-color: #f0f0f0; } }
.cog-menu li {
  text-decoration: none; }

.package-received-header {
  background-color: #f0f0f0;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 10px; }
  .package-received-header .fa-check {
    color: #00b140; }

table.package-history {
  border-collapse: separate;
  border-spacing: 20px 0;
  margin-left: -20px; }

table.package-batch-table td {
  text-align: left; }

.row-arrow {
  cursor: pointer;
  transition: all linear 0.15s; }
  .row-arrow:before {
    content: '\f054';
    font-family: 'FontAwesome';
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    top: 0;
    bottom: 0;
    margin: 0 auto; }
  .row-arrow.down-arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: 10% center;
            transform-origin: 10% center;
    transition: all ease 0.15s; }

.row-details {
  background-color: #f5f5f5;
  border-top: 1px solid #8B98C8;
  opacity: 1;
  overflow: visible;
  position: relative; }
  .row-details.active {
    transition: opacity 0.2s linear; }
    .row-details.active td:nth-child(2) {
      transition: opacity 0.2s linear;
      opacity: 1; }
      .row-details.active td:nth-child(2) .row {
        max-height: 500px;
        transition: max-height 0.3s linear; }
  .row-details table {
    border-collapse: separate;
    border-spacing: 20px 5px;
    margin-left: -20px; }
    .row-details table.details {
      width: 100%; }
      .row-details table.details > tbody > tr > td {
        width: 30%;
        vertical-align: top; }
        .row-details table.details > tbody > tr > td:first-child {
          width: 50%; }
  .row-details .edit-buttons {
    float: right; }

.toolbar .btn {
  padding: 5px 10px;
  font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  height: 30px;
  font-size: 12px; }
.toolbar select {
  padding: 5px 10px;
  font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 12px;
  height: 30px; }
.toolbar .btn-default,
.toolbar .btn-cancel,
.toolbar .btn-link,
.toolbar .btn-group .btn-default,
.toolbar .btn-group-vertical .btn-default,
.toolbar .dropdown-toggle {
  color: #3e53a4;
  background-color: transparent;
  border-color: #cecece; }
  .toolbar .btn-default:hover,
  .toolbar .btn-cancel:hover,
  .toolbar .btn-link:hover,
  .toolbar .btn-group .btn-default:hover,
  .toolbar .btn-group-vertical .btn-default:hover,
  .toolbar .dropdown-toggle:hover {
    background-color: #d9dced;
    border-color: #d9dced; }
.toolbar .btn-link:focus, .toolbar .btn-link:hover {
  text-decoration: none; }
.toolbar .input-group .form-control {
  padding: 5px 10px;
  height: 30px;
  line-height: 1.5;
  font-size: 12px; }
  .toolbar .input-group .form-control.search {
    padding-right: 25px; }
    .toolbar .input-group .form-control.search:not(:valid) ~ .search-clear {
      opacity: 0;
      transition: all 0.3s ease-in-out; }
.toolbar .input-group-addon {
  padding: 5px 10px;
  color: #3e53a4; }
.toolbar .input-group-btn.open {
  color: #fff; }
  .toolbar .input-group-btn.open .dropdown-toggle {
    color: #fff; }
.toolbar .search-clear {
  position: absolute;
  padding-right: 3px;
  padding-left: 0;
  right: 0;
  z-index: 10;
  border: 0;
  opacity: 1;
  color: #c0c0c0;
  transition: all 0.3s ease-in-out; }
  .toolbar .search-clear .btn {
    border: 0; }
.toolbar .dropdown-menu > li > a {
  font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif;
  color: #3e53a4;
  font-size: 13px;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 1.42857143;
  white-space: nowrap; }
  .toolbar .dropdown-menu > li > a a:hover {
    text-decoration: none; }
.toolbar .dropdown-menu > li > a:focus, .toolbar .dropdown-menu > li > a:hover {
  background-color: #3e53a4;
  color: #fff; }

.modal-fullscreen.modal-backdrop {
  background-color: rgba(255, 255, 255, 0); }
.modal-fullscreen.modal {
  background-color: transparent;
  height: 100%;
  width: 100%;
  z-index: 1050;
  -webkit-backface-visibility: visible;
          backface-visibility: visible; }
  .modal-fullscreen.modal .modal-dialog {
    background-color: #fff;
    min-height: 100%;
    margin: auto;
    width: 100%; }
    .modal-fullscreen.modal .modal-dialog .modal-content {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      height: 100%;
      margin: 0 auto;
      overflow: auto;
      padding-top: 70px;
      width: 900px; }
      .modal-fullscreen.modal .modal-dialog .modal-content .modal-title {
        font-size: 16px;
        font-family: "PrecisionSans_W_Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        line-height: 1.1;
        -webkit-font-variant-ligatures: common-ligatures;
                font-variant-ligatures: common-ligatures;
        color: #3e53a4; }
.modal-fullscreen .modal-close, .modal-fullscreen .modal-header .close {
  position: fixed;
  top: 20px;
  right: 20px;
  display: block;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer; }
  .modal-fullscreen .modal-close:focus, .modal-fullscreen .modal-header .close:focus {
    outline: none; }
  .modal-fullscreen .modal-close:after, .modal-fullscreen .modal-header .close:after, .modal-fullscreen .modal-close:before, .modal-fullscreen .modal-header .close:before {
    transition: all .25s ease-in-out .9s;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    content: '';
    display: inline-block;
    width: 1.5px;
    height: 35px;
    background-color: #9b9b9b;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 5px;
    bottom: 5px; }
.modal-fullscreen .modal-header .close span {
  display: none; }
.modal-fullscreen.modal.fade .modal-dialog {
  opacity: 1;
  transition: -webkit-transform .85s ease, opacity .0s linear;
  transition: transform .85s ease, opacity .0s linear;
  -webkit-transform: translate3d(0, 125%, 0);
          transform: translate3d(0, 125%, 0); }
.modal-fullscreen.modal.in .modal-dialog .modal-close:before, .modal-fullscreen.modal.in .modal-dialog .modal-header .close:before, .modal-fullscreen.modal.in .modal-header .modal-dialog .close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
.modal-fullscreen.modal.in .modal-dialog .modal-close:after, .modal-fullscreen.modal.in .modal-dialog .modal-header .close:after, .modal-fullscreen.modal.in .modal-header .modal-dialog .close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
.modal-fullscreen.fade {
  opacity: 0;
  transition: opacity .3s ease; }
  .modal-fullscreen.fade.in {
    opacity: 1;
    transition: opacity .4s ease; }
.modal-fullscreen.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.selectize-input.focus, .selectize-control.single .selectize-input.focus {
  border-color: #3e53a4;
  border-width: 1px;
  outline: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); }

.selectize-input {
  border-color: #cecece;
  border-radius: 0; }

.selectize-control.single .selectize-input {
  border-color: #cecece;
  border-radius: 0; }

.selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #333 transparent transparent; }

.selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px;
  border-color: transparent transparent #333; }

.signin .signin-box {
  margin: 0; }

.uam .inactive {
  color: #ccc; }
  .uam .inactive a {
    color: inherit;
    pointer-events: none; }
.uam .btn-gear {
  padding: 0; }
.uam .inline-radios {
  display: inline-block;
  margin-top: 30px; }
.uam .list-buyseats li {
  border-right: 1px solid #c0c0c0;
  padding-right: 10px; }
  .uam .list-buyseats li:last-child {
    border-right: 0; }
.uam .promo-boxes {
  float: right;
  overflow: auto;
  margin-bottom: -25px;
  margin-top: -50px; }
  .uam .promo-boxes .promo-box {
    float: left;
    margin-right: 20px;
    text-align: center; }
    .uam .promo-boxes .promo-box .seat-status {
      margin-bottom: 10px;
      width: 110px;
      height: 70px;
      border: 0;
      border-radius: 0; }
      .uam .promo-boxes .promo-box .seat-status .panel-body {
        padding: 10px;
        background-color: #f0f0f0;
        color: #4e4e4e; }
      .uam .promo-boxes .promo-box .seat-status .big-number {
        font-family: PrecisionSans_W_Bd;
        font-size: 32px;
        line-height: 1; }
      .uam .promo-boxes .promo-box .seat-status .caption {
        font-size: 12px; }
    .uam .promo-boxes .promo-box .action-link {
      font-size: 12px; }
.uam .inline-edit {
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  padding: 0; }
  .uam .inline-edit.title {
    font-family: 'PrecisionSans_W_Lt', arial, sans-serif;
    font-size: 24px;
    color: #3e53a4; }
.uam .add-role .highlight-row {
  background-color: #f0f0f0; }
.uam .add-role .disabled-row {
  color: #c0c0c0; }
.uam .cb-column {
  width: 20px; }
.uam .icon-column {
  width: 20px; }
.uam input[type='text'] + input[type='text'] {
  margin-top: 10px; }
.uam .show-hide {
  font-size: 12px;
  cursor: pointer;
  color: #3e53a4; }
.uam .permission-details {
  margin: 0 18px 40px; }
.uam .privilege-list {
  list-style: none;
  margin-top: 10px;
  border-top: 1px solid #f0f0f0;
  padding-top: 10px; }
  .uam .privilege-list span.cb {
    float: right; }
  .uam .privilege-list .label-cb {
    width: 50%;
    display: inline-block; }
  .uam .privilege-list.disabled {
    opacity: 0.5; }
    .uam .privilege-list.disabled .privilege-list-options {
      opacity: 0.5; }
.uam .privilege-list-options {
  padding-left: 0;
  list-style: none;
  margin: 20px 0 5px;
  padding: 0 0 2px; }
  .uam .privilege-list-options span.cb {
    float: right; }
  .uam .privilege-list-options .label-cb {
    width: 50%;
    display: inline-block; }
.uam .privilege-list-details {
  padding: 0 20px;
  list-style: none; }
  .uam .privilege-list-details span.cb {
    float: right; }
  .uam .privilege-list-details .label-cb {
    width: 50%;
    display: inline-block; }
.uam .user-privileges th {
  text-align: center; }
.uam .user-privileges td:nth-child(n+2) {
  text-align: center; }
.uam .shaded {
  background-color: #f0f0f0; }
.uam .btn-link.text-danger {
  color: #a94442; }
.uam .miller-columns-plain {
  min-height: 550px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .uam .miller-columns-plain .miller-columns-plain-col {
    border: 1px solid #f0f0f0; }
    .uam .miller-columns-plain .miller-columns-plain-col.left {
      width: 200px;
      padding: 0; }
    .uam .miller-columns-plain .miller-columns-plain-col.right {
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding: 20px;
      border-left: 0; }
  .uam .miller-columns-plain .list-group {
    border: 0; }
    .uam .miller-columns-plain .list-group .list-group-item {
      line-height: 20px; }
      .uam .miller-columns-plain .list-group .list-group-item + .list-group-item {
        border-top: 0; }
.uam .list-group-item a,
.uam a:hover,
.uam a:active,
.uam a.row-selected {
  border-radius: 0; }
.uam .inner-column .list-group-item {
  padding-left: 0; }
  .uam .inner-column .list-group-item:before {
    content: '\f054';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 5px; }
  .uam .inner-column .list-group-item.open:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    transition: all ease 0.15s; }
.uam .list-group-details .list-group-item {
  border: 0; }

.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: #4e4e4e; }

.scan-help .modal-header {
  padding: 15px 15px 0; }
  .scan-help .modal-header h4.modal-title {
    font-size: 20px; }
  .scan-help .modal-header p {
    font-size: 16px; }
.scan-help .modal-footer button {
  display: block;
  margin: 5px auto;
  min-width: 100px; }
.scan-help .carousel-inner {
  overflow-y: visible;
  padding-bottom: 60px; }
  .scan-help .carousel-inner .carousel-caption {
    bottom: -70px;
    text-shadow: none;
    color: #4e4e4e;
    font-size: 16px;
    font-weight: bold; }

.carousel-indicators {
  bottom: -10px; }
  .carousel-indicators .active {
    background-color: #9b9b9b;
    margin-right: 5px; }
  .carousel-indicators li {
    border: 1px solid #000;
    margin-right: 5px; }

@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: -20px; } }
.dashboard-flex .row {
  margin-top: 50px; }
.dashboard-flex .dashboard-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
.dashboard-flex .dashboard-icons {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .dashboard-flex .dashboard-icons .dashboard-icon {
    margin-right: 60px;
    text-align: center;
    cursor: pointer; }
    .dashboard-flex .dashboard-icons .dashboard-icon:last-child {
      margin-right: 0; }
    .dashboard-flex .dashboard-icons .dashboard-icon svg {
      width: 70px;
      fill: #3e53a4; }
    .dashboard-flex .dashboard-icons .dashboard-icon img {
      display: block;
      width: auto;
      margin: auto; }
    .dashboard-flex .dashboard-icons .dashboard-icon a {
      font-size: 18px;
      font-family: 'PrecisionSans_W_Md', Arial, sans-serif;
      color: #3e53a4; }
.dashboard-flex .search {
  width: 30%; }
.dashboard-flex .spotlights {
  list-style: none; }
  .dashboard-flex .spotlights .spotlight {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    background-color: #3e53a4;
    color: #fff;
    float: left;
    margin-right: 20px;
    border-radius: 6px;
    padding: 10px 20px;
    font-family: 'PrecisionSans_W_Rg', Arial, sans-serif;
    font-size: 20px; }
    .dashboard-flex .spotlights .spotlight:last-child {
      margin-right: 0; }
    .dashboard-flex .spotlights .spotlight .bignum {
      font-size: 32px; }
.dashboard-flex .widgets {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  .dashboard-flex .widgets .widget {
    margin-right: 60px;
    text-align: center;
    font-size: 16px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .dashboard-flex .widgets .widget:last-child {
      margin-right: 0; }
.dashboard-flex .input-group input, .dashboard-flex .input-group .input-group-addon {
  border-color: #9b9b9b; }
.dashboard-flex .input-group .input-group-addon {
  background-color: #f0f0f0; }

.welcome div[header],
.welcome div[footer],
.welcome div[pb-feedback] {
  display: none; }
.welcome p,
.welcome li {
  font-size: 18px; }
.welcome .take-tour {
  margin-top: 30px; }

.firstuse-welcome-box {
  width: 900px;
  height: 100vh;
  margin: 60px auto; }

.welcome-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh; }
  .welcome-container .intro {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .welcome-container .intro .intro-left {
      margin-right: 30px; }

.modal-backdrop.firstuse {
  z-index: 1040;
  background: rgba(255, 255, 255, 0.8); }

.btn-link {
  border: 0; }

.tour-link {
  color: #6575b6; }

.slide-holder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.firstuse-slide-view {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  background-color: #fff;
  position: relative;
  z-index: 1050;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.6); }
  .firstuse-slide-view .button-bar {
    bottom: 15px;
    left: 15px;
    right: 15px;
    position: absolute;
    text-align: right; }
    .firstuse-slide-view .button-bar button {
      min-width: 80px; }
  .firstuse-slide-view h1 {
    text-align: center;
    margin-bottom: 30px; }
  .firstuse-slide-view p {
    text-align: center;
    margin: 20px;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .firstuse-slide-view li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10px; }
  .firstuse-slide-view img {
    margin: 1px auto;
    display: block; }
  .firstuse-slide-view .conclusion h1 {
    font-size: 30px; }
  .firstuse-slide-view .conclusion p {
    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    margin: 5px 20px 20px; }
  .firstuse-slide-view .conclusion a {
    text-align: center; }

/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */