<div class="modal-header">
    <button type="button" class="close" ng-click="adduser.close('cancel')"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title">Add Contact</h4>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <div class="checkbox">
            <span>Type &nbsp;&nbsp;</span>
            <!-- TODO - change values 2 and 4 to enums.contactType - not working presently -->
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="checkboxModel.isRecipient" ng-disabled="contact.type == 2"> Recipient
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="checkboxModel.isSender" ng-disabled="contact.type == 4"> Sender
            </label>
        </div>
    </div>
    <div class="col-md-12" ng-show="checkboxModel.isRecipient">
        <div class="row form-group">
            <div class="col-xs-5">
                <label>First Name</label>
                <input type="text" name="firstname" class="form-control" ng-model="adduser.contact.first_name">
            </div>
            <div class="col-xs-2" style="text-align: center">
                <label>Middle</label>
                <input type="text" name="middlename" class="form-control" ng-model="adduser.contact.middle">
            </div>
            <div class="col-xs-5">
                <label>Last Name</label>
                <input type="text" name="lastname" class="form-control" ng-model="adduser.contact.last_name">
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-show="!checkboxModel.isRecipient">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="full_name" class="form-control" ng-model="adduser.contact.full_name">
        </div>
    </div>
    <div class="col-md-12" ng-show="checkboxModel.isRecipient">
        <div class="row form-group">
            <div class="col-xs-5">
                <label>Email (optional)</label>
                <input type="text" name="email" class="form-control" ng-model="adduser.contact.email">
            </div>
            <div class="col-xs-7">
                <p>&nbsp;</p>
                <label>Want to let them know their package arrived?  Just enter their email address.</label>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="clearfix"></div>

<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-12">
            <button class="btn btn-primary" id="save" ng-click="adduser.add('confirm')" >Save</button>
        </div>
    </div>
</div>
